<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" style="position:relative; color:blue;">HOME</a>
        </li>

        <li class="nav-item" *ngIf="user.length <= 0">
            <a class="nav-link" routerLink="admin" style="position:relative; color: blue;">ADMIN</a>
        </li>

        <li class="nav-item" *ngIf="user.length <= 0">
            <a class="nav-link" routerLink="login" style="position:relative; color: blue;">LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="complaints" style="position:relative; color: blue;">COMPLAINTS</a>
        </li>

        <li class="nav-item" *ngIf="user.length >= 0">
            <a class="nav-link" routerLink="logout" style="position:relative; color:blue;">LOGOUT</a>
        </li>
    </ul>
    <br>
    <router-outlet></router-outlet>
  </div>
  