<div class = "container-fluid">
 
</div>
<h3 style="color:green">{{message}}</h3>
<div class = "container-fluid col-md-6 offset-md-3">
    <h2 style=" text-align: center; color: darkblue; text-size-adjust: 500;">Add Engineer/User/Manager</h2>
    <form>
        <table class="table table-hover" style="text-align: center;">
        <tr style="text-shadow: 0cqh; text-size-adjust:50px;">
            <td><i class="fa fa-cutlery" aria-hidden="true">Name:</i></td><td><input type="text" name="name" [(ngModel)]="user.name"></td></tr>
        <tr><td><i class="fa fa-lemon" aria-hidden="true">Role Assigned:</i></td><td>
            <select  name="usertype" [(ngModel)]="user.usertype">
               <option value="ENGINEER" >ENGINEER</option>
               <option value="MANAGER" >MANAGER</option>
               <option value="CUSTOMER">CUSTOMER</option>
            </select>
        </td></tr>
        <tr><td><i class="fa fa-inr" aria-hidden="true">  Email:</i></td><td><input type="text" name="email" [(ngModel)]="user.email"></td></tr>
        <tr><td><i class="fa fa-camera" aria-hidden="true">  Password:</i></td><td><input type="text" name="password" [(ngModel)]="user.password"></td></tr>
        <tr><td><i class="fa fa-camera" aria-hidden="true">  Phone number:</i></td><td><input type="number" name="phoneno" [(ngModel)]="user.phoneno"></td></tr>
       
       <tr><td>
     <button type="submit" (click)="addUser()" class="btn btn-primary btn-lg">Add Now</button>
       </td></tr>
    </table>
        </form>
    
</div>

